 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color:rgb(185, 100, 235);
    --darkgrey:#9CA3AF;
    --offwhite:#f3f4f6;

}
body {
background-color:rgb(248,248,255);
font-family: 'Roboto', sans-serif;
}
.container {
    padding: 0rem 1rem;
}
.container-center { 
    max-width:600px; 
    margin:auto;
}
hr{
    margin:3rem 0rem;
}
 .links { 
     text-decoration:none;
     padding: 0.5rem 1rem;
     
 }
.primary-links
{
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color:white;
}
.secondary-link {
    color: var(--primary-color);
    border-radius:0.5rem;
    border: 1px solid var(--primary-color);
}
 .non-bullet  {
     list-style:none;
 }
 .list-inline {
    display:inline;
    padding:0rem 0.5rem;
 }
 .navbar {
     background-color:var(--primary-color);
     color:white;
     padding:1rem;
     border-bottom-left-radius: 1rem;
 }
 .navbar .navbrand {
    font-weight:bold;
 }
 .navbar .nav-pills{
text-align:right;
 }
.navbar .links { 
     color:white;
     
 }
.hero{
    padding:2rem;
}
 .hero-img{
     max-width:350px;
     display:block;
     margin:auto;
 }
 .hero-heading
 {
     color:var(--darkgrey);
 }
 .section {
     padding:2rem;
 }
.section h1 {
 text-align:center;
 
}
.offw {
    background-color:var(--offwhite);
}
footer {
    background-color:var(--primary-color);
    padding:2rem 1rem;
    text-align:center;
}
footer .links {
 color:white;  
   
}
footer ul {
    padding-inline-start: 0px;
}